@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
}

.wrapper {
    background-color: #fff;
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    color: #121212;
    font-size: 8rem;
    position: fixed;
    z-index: 10;
    top: 15%;
    left: 4rem;
    line-height: 0.9;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.line {
    background-color: #ffcc99;
    height: 1rem;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section.character::before {
    content: '';
    width: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.block {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translateX(-100%);
}

.saitama::before,
.saitama .block {
    background-color: #121212;
}

.genos::before,
.genos .block {
    background-color: #121212;
}

.caption {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    width: 30%;
    font-weight: 400;
    color: #121212;
    font-family: monospace;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translate(100%, 100%);
}

.character img {
    position: relative;
    z-index: 10;
    height: 90vh;
    width: auto;
    transform: translateY(-100%);
}

.huge-text {
    font-size: 25rem;
    width: 100%;
    text-align: center;
    color: #ffcc99;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(100%);
    font-weight: 700;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.nickname {
    color: #ffcc99;
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-size: 3rem;
    text-align: right;
    transform: translateY(-200%);
    text-shadow: 4px 4px 10px rgba(95, 95, 95, 0.267);
}

.nickname span {
    display: block;
    font-size: 70%;
    color: #ffcc99;
    text-shadow: 4px 4px 10px rgba(95, 95, 95, 0.267);
}

.quote {
    color: #ffcc99;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 3rem;
    width: 30%;
    text-align: right;
    transform: translateY(200%);
    text-shadow: 4px 4px 10px rgba(95, 95, 95, 0.267);
}

.quote::before,
.quote::after {
    content: '';
    color: #ffcc99;
}